body {
    font-family: Arial, sans-serif;
    background-color: #6A5ACD;
    text-align: center;
    padding: 50px;
}
h1, label{

    color: white;
}
.fieldeset{
    display: grid;
    align-content: stretch;
    justify-content: space-around;
    justify-items: end;
}

.imagem {
    max-width: 100px;
}

.Influenceadores-card{
     background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
     font-family: inherit;
}
